
body{
    background-image: url(imagenesparciajaval/fondoazuloscuro.jpg);
    background-size: cover;
    padding: 5px;
    color:rgb(250, 250, 250);
    font-weight: bolder;
    font-size: larger;
}

.header{
    display: flex; 
}

.img3{
    float: left;
    display: flex;
    text-align:justify  ;
}

.img2{
    float: right;
    display: flex;
    text-align:justify  ;
}
.botonde{
    display: left;
}
.botones{
    color: antiquewhite;
}
.redes{
display: flex;
justify-content: space-between;
}
.formulario{
    display: block, list-item;
    justify-content:space-evenly;
    
}
.formulariore{
    display:flex;
}
.requerido{
    color: darkred;
}
.multimedia1{
    display: flex;
    justify-content: left;
    text-align: justify;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.titulomulti{
    display: flex;
    justify-content: center;
      align-items: center;
}